  <!-- confirmPassword field -->
  <div class="field">
    <label for="confirm-password" class="label">Confirm Password</label>
    <p class="control has-icons-left has-icons-right">
      <input 
      id="confirm-password"
      type="password" 
      class="input"
      name="confirmPassword"
      required
      placeholder="Confirm Password"
      value="">
      <span class="icon is-small is-left">
        <i class="fa fa-key"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="confirm-password-invalid">
        <i class="fa fa-warning"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="confirm-password-valid">
        <i class="fa fa-check"></i>
      </span>
    </p>
    <p class="help"></p>
  </div>