 <!-- Email field -->
  <div class="field">
    <label for="email" class="label">Email</label>
    <p class="control has-icons-left has-icons-right">
      <input 
      id="email"
      type="email" 
      class="input"
      name="email"
      required
      placeholder="Email">

      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="email-invalid">
        <i class="fa fa-warning"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="email-valid">
        <i class="fa fa-check"></i>
      </span>
    </p>
    <p class="help"></p>
  </div>