  <!-- Password field -->
  <div class="field">
    <label for="password" class="label">Password</label>
    <p class="control has-icons-left has-icons-right">
      <input 
      id="password"
      type="password" 
      class="input"
      name="password"
      required
      placeholder="Password">
      
      <span class="icon is-small is-left">
        <i class="fa fa-key"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="password-invalid">
        <i class="fa fa-warning"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="password-valid">
        <i class="fa fa-check"></i>
      </span>
    </p>
    <p class="help"></p>
  </div>