<p class="control">
  <a href="/auth/twitter" class="button is-info is-outlined">
    <span class="icon is-small">
      <i class="fa fa-twitter"></i>
    </span>
    <span>Signin with Twitter</span>
  </a>
</p>