  <!-- Username field -->
  <div class="field">
    <label for="username" class="label">Username</label>
    <p class="control has-icons-left has-icons-right">
      <input 
      id="username"
      type="text" 
      class="input"
      name="username"
      required
      aufocus
      placeholder="username">
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="username-invalid">
        <i class="fa fa-warning"></i>
      </span>

      <span class="icon is-small is-right is-hidden" data="username-valid">
        <i class="fa fa-check"></i>
      </span>
    </p>
    <p class="help"></p>
  </div>