<%- include partials/header %>

<section class="section">

  <section id="wall">

    <% if(images && images.length > 0) { %>
    <% images.forEach(function(image, index) { %>

    <%- include partials/inc/image-card %>
    
    <% }); %>
    <% } %>

  </section><!-- end of wall -->

</section>

<%- include partials/footer %>