html {
	width: 100%; 
	height: 100%;
	overflow-y: hidden;
}
body {
	width: 100%; 
	height: 100%;
}
.section {
	min-height: 650px;
	width: inherit;
	height: 100%;
}
.footer {
	margin-top: 50px;
}
.help {
	height: 18px;
}
#wall {
	padding: 5px;
	position: relative;
	width: inherit;
	min-height: 2000px;
	overflow-y: scroll;
}
#wall > .brik {
	width: 200px;
	position: absolute;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-thumb {
   background-color: #798d8f;
}